.header-dashboard-overview .header-sidebar__logo{
  width: 50px;
  height: 50px;
  color: #FFF;
}
.header-dashboard-overview{
  background: #15283c;
  /* padding: 5px 10px; */
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 270px;
}
.avatar-profile .avatar-admin{
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}
.name-admin{
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  margin-left: 10px;
}
.avatar-profile{
  display: flex;
  align-items: center;
  //width: 170px;
  background-color: #ff5722;
  /* height: 100%; */
  padding: 12px 12px;
  cursor: pointer;
  position: relative;
}
.fa-chevron-down{
  margin-left: 8px;
}
.sub-menu{
  position: absolute;
  z-index: 1000;
  padding: 10px 6px;
  font-size: 15px;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 0;
  width: 100%;
  box-shadow: -1px 1px 4px -2px rgba(0, 0, 0, 0.2);
  border: none;
  top: 62px;
  left: 0;
}
.avatar-profile .sub-menu li{
  padding: 10px 0;
}
.avatar-profile .sub-menu li a{
  font-size: 15px;
  color: #15283c;
  padding: 4px 15px;
  border-bottom: none;
  line-height: normal;
}
.avatar-profile .sub-menu li:hover{
  background-color: #15283c;
}
.avatar-profile .sub-menu li:hover a{
  color: #fff;
}
.display-none{
  display: none;
}
.sub-menu .fa-right-from-bracket{
  margin-left: 4px;
  font-size: 13px;
}
.avatar-profile-notification{
  display: flex;
  align-items: center;
}
.avatar-profile-notification .notification ul{
  display: flex;
  justify-content: space-evenly;
}
.avatar-profile-notification .notification ul li i{
  font-size: 20px;
  padding: 0 10px;
  color: #fff;
}
.avatar-profile-notification .notification{
  margin-right: 10px;
}

.content-admin-dashboard-overview{
  margin-left: 270px;
}

.page-title h2 {
  font-size: 20px;
  font-weight: 500;
  color: #15283c;
}
.page-title-block{
  background: #fff;
  padding: 25px 35px 22px 38px;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
}
.list-statistics{
  background-color: #f6f6f6;
  padding: 27px 50px;
}
.statistics-1{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 32px;
}
.statistics-1 .card i{
  font-size: 50px;
  line-height: normal;
  width: 100%;
  float: left;
  text-align: center;
}
.statistics-1 .card{
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border: 0px solid #e7e7e7;
  padding: 30px 35px;
  background: #fff;
  border-radius: 5px;
  min-height: 125px;
}
.statistics-1 .infor-card .total{
  font-size: 45px;
  width: 100%;
  line-height: normal;
  font-weight: 600;
  color: #455a64;
  font-size: 24px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-top: 10px;
}
.statistics-1 .infor-card .title-card{
  text-align: center;
  font-size: 16px;
  color: #99abb4;
  font-weight: 300;
  margin-top: 3px;
}
.fa-user{
  color: #ff9800;
}
.fa-clock{
  color: #2196f3;
}
.fa-cloud{
  color: #009688;
}
.fa-blogger{
  color: #e91e63;
}

.block-title{
  margin-top: 30px;
  background: #0000;
  border-color: #e6e6e6;
  padding: 25px 15px;
  background-color: #fff;
  font-size: 17.5px;
  color: #312a2a;
  font-weight: 500;
  text-transform: capitalize;
  border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}

.table-list-student-block{
  padding: 10px 20px;
}
.table-list-student{
  width: 100%;
  border-collapse: collapse;
}
.table-list-student thead th{
  border: none;
  font-weight: 500;
  letter-spacing: .5px;
  text-transform: capitalize;
  white-space: nowrap;
  color: #312a2a;
  font-size: 14px;
  font-weight: 500;
  min-width: 110px;
  padding: 13px 0;
}
.table-list-student tbody td{
  border: none;
  font-weight: 500;
  text-transform: capitalize;
  white-space: nowrap;
  color: #888;
  font-size: 12.5px;
  font-weight: 500;
  min-width: 110px;
  padding: 13px 0;
  /* border-bottom: 1px solid #e6e6e6; */
}
.table-list-student tbody tr{
  border-bottom: 1px solid #e6e6e6;
}

.chart-1-block{
  padding: 25px 15px;
  background-color: #fff;
  margin: 0 auto;
}
#courses-chart{
  display: block;
  margin: 0 auto;
}