*{
    box-sizing: border-box;
}
:root{
    --color-1: #d53509;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    /* font-family: "Roboto", sans-serif; */
    font-family: "Poppins", sans-serif;
}
a{
    text-decoration: none;
}
/*---------- .side-bar ----------*/
.side-bar{
    width: 250px;
    height: 100vh;
    background: #d53509;
    position: fixed;
    padding: 20px 0px;
    overflow: auto;

}
/* Tùy chỉnh thanh cuộn */
.side-bar::-webkit-scrollbar {
    width: 8px;
}

.side-bar::-webkit-scrollbar-thumb {
    background-color: #7e0404;
    border-radius: 10px;
}
.side-bar__logo{
    width: 60px;
    height: 60px;
    display: block;
    margin: 0 auto;
    color: #ffffff;
}
.side-bar__nav{
    margin-top: 30px;
}
.side-bar__nav a{
    display: block;
    padding: 14px 25px;
    color: #FFF;
    font-weight: 600;
    transition: all 0.5s;
}
.side-bar__nav a i{
    margin-right: 10px;
}
.side-bar__nav a:hover{
    background-color: #b13a07;
}
.active__side-bar{
    background-color: #b13a07;

}
/*  */
.content-admin{
    margin-left: 250px;
    background-color:  #f6f7fb;
    padding: 30px;
}