/* header css */
*{
    box-sizing: border-box;
}
:root{
    --color-1: #0c2e60;
    --color-2: linear-gradient(to right, #ef3e0f, #ffb800);
}
html{
    font-size: 62.5%;
}
body{
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    /* font-family: "Poppins", sans-serif; */
}
/* main-content */
a{
    text-decoration: none;
}
.main-content{
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.header__logo .logo__img{
    display: block;
    width: 55px;
    height: auto;
}
.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.navbar__list{
    display: flex;
}
.navbar__item a{
    color: var(--color-1);
    display: block;
    font-size: 1.3rem;
    text-transform: uppercase;
    line-height: 0.8;
    padding: 25px 20px;
    text-decoration: none;
}
.navbar__item a:hover{
    color: #dc3545;
}
.navbar__item{
    list-style-type: none;
    position: relative;
}
.avatar img{
    width:50px;
    height:50px;

}
.fa-sort-down{
    position: absolute;
    top: 17px;
    right: 3px;
}
.navbar__item .sub-menu{
    z-index: 10000;
    transition: all 300ms ease-in-out;
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    width: 220px;
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.07);
}
.navbar__item .sub-menu-profile{
    z-index: 10000;
    transition: all 300ms ease-in-out;
    position: absolute;
    top: 100%;
    left: -50px;
    opacity: 0;
    visibility: hidden;
    width: 190px;
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.07);
}
.navbar__list .has-child:hover .sub-menu, .navbar__list .has-child:hover .sub-menu-profile{
    opacity: 1;
    visibility: visible;
}
.navbar__item .sub-menu a:hover{
    background-color: #e8ebed;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}


/* footer css */
footer{
    display: block;
    background-color: #f3f3f3;
}
.footer-top{
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    justify-content: center;
}
.footer-top__heading{
    color: var(--color-1);
    font-family: 'Poppins', sans-serif;
    margin-bottom: 25px;
    font-size: 2.2rem;
    font-weight: 600;
}
.footer-top__desc{
    color: #999;
    display: block;
    font-weight: 300;
    margin-bottom: 5px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 27px;
}
.footer-top__desc:hover{
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
    color: var(--color-1);
    background-color: transparent;
}

.footer-bottom{
    background-color: #fff;
}
.copyright{
    color: #83868c;
    font-size: 13px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
    padding: 24px 0;
}








/* ----------------------card - courses css-------------------------*/
.card-courses{
    border: 1px solid #e0e4e6;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    max-width: 360px;
}
.card-courses__thumb{
    width: 100%;
    height: 220px;
    overflow: hidden;
    position: relative;
}
.card-courses__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btn--enroll{
    width: 115px;
    margin-bottom: 0;
}
.card-courses__enroll{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.total-student{
    color: #83868c;
    background-color: #fff;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
}
.card-courses__content{
    padding: 25px;
}
.card-courses__heading{
    font-size: 20px;
    display: block;
    color: #000;
    transition: all 300ms ease-in-out;
    line-height: 30px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.card-courses__heading:hover{
    color: #007bff;
}
.card-courses__desc{
    color: #0c2e60;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    min-height: 78px;
}
.enroll__left{
    padding-bottom: 8px;
}
/* CSS cho nút điều hướng */
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #bbbdb2;
    cursor: pointer;
    margin: 8px;
}
.price__courses{
    background-color: #ffc107;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.07);
    border-radius: 0;
    color: #000;
    display: block;
    font-size: 20px;
    position: absolute;
    padding: 7px 15px;
    top: 20px;
    right: 0;
    font-weight: 600;
}


/* -------------------NAV SLIDE CSS-------------------------*/
.owl-carousel .owl-nav.disabled, .owl-carousel .owl-dots.disabled{
    display: block;
}
.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
    background-color: #007bff;
}

.owl-theme .owl-nav {
    margin-top: 25px;
}
/* ----------------------------------------------------------*/

/* -------------------CARD BLOG CSS -------------------------*/
.item__card-blog{
    border: 1px solid #e0e4e6;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
}
.card-blog__thumb{
    width: 100%;
    height: 220px;
    overflow: hidden;
}
.card-blog__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.blog-meta-tags *{
    color: #83868c;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 27px;
    text-transform: uppercase;
}
.title-blog{
    display: block;
    font-size: 22px;
    color: #0c2e60;
    margin-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    min-height: 67px;
}
.title-blog:hover, .blog-meta-tags *:hover{
    color:#dc3545;
}
.card-blog__content{
    box-shadow: 0 12px 20px rgba(1, 84, 85, 0.1);
    border-radius: 10px;
    padding: 30px;
}

/* --------------PAGINATION CSS-------------*/
.pagination .page-link{
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
}
.pagination .page-item ~ .page-item{
    margin-left: 10px;
}
.pagination{
    margin: 50px 0 60px;
}
/*-------------------------------------------*/


/* ------------------FEATURE HEADER CSS ---------------*/
.feature-header{
    background: url(/img/hero-img/slide3.jpg) top / cover;
    padding: 100px 0;
    position: relative;
    text-align: center;
}
.feature-header::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.45);
    height: 100%;
    width: 100%;
    z-index: 0;
}
.feature-header .main-content{
    position: relative;
    z-index: 1;
}
.feature-header__title{
    color: #FFF;
    font-size: 3.2rem;
}
.feature-header__link *{
    color: #ccc;
}
.feature-header__link *:not(.home)
{
    color: #FFF;
}
.feature-header__link{
    padding: 22px 0;
}

/* ---------------------------------------------------*/
/* --------------------chapter item ------------------------ */
.accordion-button{
    font-size: 16px;
    font-weight: 500;
    padding: 15px;
    border: 1px solid #e0e4e6;
    background-color: #f7f8fa ;
}
.accordion-button::after{
    margin-left: 10px;

}
.curriculum__total-lecture{
    font-size: 14px;
    text-transform: capitalize;
    display: inline-block;
    margin-left: auto;
}
.accordion-body li a{
    color: #444;
    border-bottom: 1px solid #eeeeee;
    display: block;
    padding: 12px 20px;
}
/*------------------------------------------*/

/*----------------------- comment------------------------------- */
.comment{
    padding: 50px 0;
}
.comment .title{
    text-align: start;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-size: 2.4rem;
}
.comment__item .comment__avt{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.comment__item{
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}
.comment__user{
    border-bottom: 1px solid #e0e4e6;
    flex-basis: calc(100% - 80px);
    padding-bottom: 25px;
}
.comment__user .comment__user-name{
    color: #2f2f35;
    font-size: 18px;
    margin-bottom: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1.2;
}
.comment__user .comment__user-text{
    color: #2f2f35;
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 27px;
}
.comment__user .comment__reply{
    color: #ef470d;
    display: inline-block;
    font-size: 14px;
}
.comment__user .comment__reply:hover{
    color: #3650e7;
}
.fa-reply{
    margin-right: 4px;
}
/* --------------COMMENT FORM--------------- */
.comment-form .comment-title{
    color: #0c2e60;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 2.4rem;
}
.comment-form form textarea, .comment__user form textarea {
    background-color: #f6f6f6;
    border: 1px solid #dadada;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 20px;
    width: 100%;
    min-height: 130px;
}
.comment-form form .btn, .comment__user .btn{
    width: 140px;
    border-radius: 50px;
    float: right;
    margin-bottom: 0 !important;
}
.comment-form form{
    text-align: center;
}
.display-none{
    display: none;
}
.threedots-block{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}
.fa-ellipsis{
    font-size: 20px;
    margin-left: 10px;
    padding: 2px 5px;
    cursor: pointer;
    border-radius: 20px;
}
.fa-ellipsis:hover{
    background-color: rgb(111, 105, 105);
}
.action-cmt__block{
    position: relative;
}
.edit-delete-comment-block{
    box-shadow: -2px 0px 26px 15px rgba(0,0,0,0.1);
    background-color: #fff;
    padding: 10px;
    border-radius: 15px;
    position: absolute;
    top: -70px;
    left: 45px;
}
.edit-delete-comment-block .button-edit-delete-comment{
    border: none;
    display: block;
    padding: 10px;
    width: 150px;
    text-align: start;
    color: black;
    background-color: #FFF;
    border-radius: 5px;
    font-weight: 500;
}
.edit-delete-comment-block .button-edit-delete-comment:hover{
    background-color: #f2f2f2;
}
.btn__edit-delete-comment{
    float: none !important;
}
.btn__edit-delete-comment-yes{
    padding: 10px 12px;
    min-width: 80px;
    background-color: #0d6efd;
    color: #FFF;
    border-radius: 10px;
    font-size: 14px;
    display: inline-block;
}
.btn__edit-delete-comment-no{
    padding: 10px 12px;
    min-width: 80px;
    background-color: red;
    color: #FFF;
    border-radius: 10px;
    font-size: 14px;
    border: none;
}
/* -------------list - categories-----------------*/
.widget__title{
    text-transform: capitalize;
    margin-bottom: 20px;
    font-size: 2.2rem;
    font-weight: 600;
    color: #0c2e60;
    font-family: 'Poppins', sans-serif;
}
.list-categories li a {
    color: #83868c;
    display: flex;
    border-bottom: 1px solid #e0e4e6;
    padding: 8px 0;
    justify-content: space-between;
}
/* ------------------recent-courses----------------- */
.recent-courses li a{
    display: flex;
}
.recent-courses li{
    border-bottom: 1px solid #eee;
    min-height: 70px;
    margin-bottom: 20px;
    padding-bottom: 15px;
}
.recent-courses li a img{
    max-width: 80px;
    object-fit: cover;
    border-radius: 10px;
}
.recent-courses li a h5 {
    font-size: 1.8rem;
    color: #000;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.recent-courses li a span {
    color: #83868c;
    display: block;
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 22px;
}
.recent-courses li a div{
    margin-left: 20px;
}
/*--- recent-posts----*/
.recent-posts img{
    width: 77px;
    height: 70px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 7%;
}
.recent-posts ul li a{
    display: flex;
}
.recent-posts ul li{
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
    padding-bottom: 15px;
}
.recent-posts .posts__infor h5{
    font-size: 1.8rem;
    color: #000;
    margin-bottom: 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    line-height: 1;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.recent-posts .posts__infor span{
    font-size: 1.1rem;
    color: #83868c;
    font-weight: 300;
    line-height: 22px;
    text-transform: uppercase;
}
.recent-posts .posts__infor .posts__cate:hover,  .recent-posts .posts__infor .posts__date:hover{
    color: red;
}

/* icon modify chapter and lession in curriculum block */
.fa-square-pen{
    font-size: 20px;
    margin-left: 8px;
    color: rgb(244, 130, 9);
    transition: 0.25s;
}
.fa-square-pen:hover{
    transform: scale(1.1);
    color: #1a73e8;
}
.fa-pen-to-square{
    color: #FFF;
    transition: 0.25s;
    font-size: 18px;
    margin-left: 10px;
}
.fa-pen-to-square:hover{
    transform: scale(1.1);
    color: #000000;
}
.avatar-user{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
}
.title-blog a{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.block-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn__add-new-post-profile:hover{
    color: #FFF;
}
.hashtag-button{
    background-color: #fff9f9;
    color: #095dff;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #8f8f8f;
    margin-right: 10px;
}
.category__list .card__logo img{
    width: 30px;
    height: 30px;
    border-radius: 3px;
    object-fit: cover;
}