
/* --------------------FIND COURSES CSS--------------- */
.find-courses{
    margin: 70px 0px;
}
.courses__search-form{
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(24, 33, 99, 0.1);
    padding: 50px;
}
.courses__search-form input{
    border: 1px solid #e0e4e6;
    border-radius: 0;
    color: #999;
    font-size: 12px;
    font-weight: 300;
    padding: 20px;
    width: 59%;
    outline: none;
    margin-right: 1%;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.courses__search-form button{
    cursor: pointer;
    background-color: var(--color-1);
    border: none;
    box-shadow: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: uppercase;
    width: 39%;
    padding: 20px;
}
/* --------------------------------------------- */

/* --------------------LIST COURSES CSS---------- */
.list-courses__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding-bottom: 70px;
    border-bottom: 1px solid #e1e5e7;
}
/* --------------------------------------------- */
