<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

<!--    LOGIN-->
    <filter>
        <filter-name>FilterLogin</filter-name>
        <filter-class>filter.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterLogin</filter-name>
        <url-pattern>/dashboard</url-pattern>

        <url-pattern>/dashboard/courses</url-pattern>
        <url-pattern>/dashboard/create-course</url-pattern>
        <url-pattern>/dashboard/update-course</url-pattern>
        <url-pattern>/dashboard/delete-course</url-pattern>

        <url-pattern>/dashboard/users</url-pattern>
        <url-pattern>/dashboard/create-user</url-pattern>
        <url-pattern>/dashboard/update-user</url-pattern>
        <url-pattern>/dashboard/delete-user</url-pattern>

        <url-pattern>/dashboard/posts</url-pattern>
        <url-pattern>/dashboard/create-post</url-pattern>
        <url-pattern>/dashboard/update-post</url-pattern>
        <url-pattern>/dashboard/delete-post</url-pattern>

        <url-pattern>/dashboard/categories</url-pattern>
        <url-pattern>/dashboard/create-category</url-pattern>
        <url-pattern>/dashboard/update-category</url-pattern>
        <url-pattern>/dashboard/delete-category</url-pattern>

        <url-pattern>/dashboard/vouchers</url-pattern>
        <url-pattern>/dashboard/create-voucher</url-pattern>
        <url-pattern>/dashboard/update-voucher</url-pattern>
        <url-pattern>/dashboard/delete-voucher</url-pattern>

        <url-pattern>/dashboard/deposits</url-pattern>
        <url-pattern>/dashboard/create-deposit</url-pattern>
        <url-pattern>/dashboard/update-deposit</url-pattern>
        <url-pattern>/dashboard/delete-deposit</url-pattern>

        <url-pattern>/my-profile</url-pattern>
        <url-pattern>/my-courses</url-pattern>
        <url-pattern>/my-posts</url-pattern>
        <url-pattern>/change-password</url-pattern>
        <url-pattern>/deposits</url-pattern>

    </filter-mapping>


<!--    TEACHER-->
    <filter>
        <filter-name>FilterTeacher</filter-name>
        <filter-class>filter.TeacherFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterTeacher</filter-name>
        <url-pattern>/dashboard</url-pattern>

        <url-pattern>/dashboard/courses</url-pattern>
        <url-pattern>/dashboard/vouchers</url-pattern>
        <url-pattern>/dashboard/users</url-pattern>

        <url-pattern>/dashboard/posts</url-pattern>
        <url-pattern>/dashboard/create-post</url-pattern>
        <url-pattern>/dashboard/update-post</url-pattern>
        <url-pattern>/dashboard/delete-post</url-pattern>

        <url-pattern>/dashboard/chapters</url-pattern>
        <url-pattern>/dashboard/create-chapter</url-pattern>
        <url-pattern>/dashboard/update-chapter</url-pattern>
        <url-pattern>/dashboard/delete-chapter</url-pattern>

        <url-pattern>/dashboard/lessions</url-pattern>
        <url-pattern>/dashboard/create-lession</url-pattern>
        <url-pattern>/dashboard/update-lession</url-pattern>
        <url-pattern>/dashboard/delete-lession</url-pattern>

    </filter-mapping>


<!--    ADMIN-->
    <filter>
        <filter-name>FilterAdmin</filter-name>
        <filter-class>filter.AdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterAdmin</filter-name>


        <url-pattern>/dashboard/create-course</url-pattern>
        <url-pattern>/dashboard/update-course</url-pattern>
        <url-pattern>/dashboard/delete-course</url-pattern>


        <url-pattern>/dashboard/create-user</url-pattern>
        <url-pattern>/dashboard/update-user</url-pattern>
        <url-pattern>/dashboard/delete-user</url-pattern>


        <url-pattern>/dashboard/categories</url-pattern>
        <url-pattern>/dashboard/create-category</url-pattern>
        <url-pattern>/dashboard/update-category</url-pattern>
        <url-pattern>/dashboard/delete-category</url-pattern>


        <url-pattern>/dashboard/create-voucher</url-pattern>
        <url-pattern>/dashboard/update-voucher</url-pattern>
        <url-pattern>/dashboard/delete-voucher</url-pattern>

        <url-pattern>/dashboard/deposits</url-pattern>
        <url-pattern>/dashboard/create-deposit</url-pattern>
        <url-pattern>/dashboard/update-deposit</url-pattern>
        <url-pattern>/dashboard/delete-deposit</url-pattern>

    </filter-mapping>

     <filter>
         <filter-name>CourseFilter</filter-name>
         <filter-class>filter.CourseFilter</filter-class>
     </filter>
     <filter-mapping>
         <filter-name>CourseFilter</filter-name>
         <url-pattern>/learning</url-pattern>
     </filter-mapping>

 </web-app>